CORE_INSTITUTE_NAME=CORE Radio Micelio
CORE_ENABLED_MODULES=research,logs,ontologizar
CORE_URL_RESEARCH=http://127.0.0.1:8000/research
CORE_URL_LOGS=http://127.0.0.1:8000/logs
CORE_URL_ONTOLOGIZAR=http://127.0.0.1:8000/ontologizar
SECRET_KEY=change-me-in-production
DEBUG=1
SITE_URL=http://127.0.0.1:8003
STATIC_SITE_CNAME=
